[contenteditable="true"]:active, [contenteditable="true"]:focus{
  border: none;
  outline: none;
}

[contenteditable=true]:empty:before{
  color: darkgrey;
  content: attr(placeholder);
  display: block; /* For Firefox */
}