<div>
  <div *ngFor="let folder of fileTree; let i=index">
    <div (click)="toggleFolder(i)">
      <span class="glyphicon" 
            [class.glyphicon-folder-close]="!folder.expanded"
            [class.glyphicon-folder-open]="folder.expanded"></span>
      {{folder.name}}
    </div>
    <template [ngIf]="folder.expanded"> 
      <div *ngFor="let file of folder.children; let j=index"
           (click)="selectFile(i, j)"
           [class.selected]="file.selected">
        <span class="glyphicon glyphicon-list-alt"></span>
        {{file.name}}
      </div>
    </template>
  </div>
</div>