<div class="card">
  <div class="card-header">
    {{document.title}}
    <div class="btn-group pull-right" role="group">
      <button class="btn btn-sm btn-secondary"
              (click)="toggleMinimized()">
        <span class="fa fa-lg"
              [class.fa-minus]="!document.minimized"
              [class.fa-plus]="document.minimized"></span>
      </button>
      <button class="btn btn-sm btn-danger"
              (click)="removeReference()">
        <span class="fa fa-lg fa-times"></span>
      </button>
    </div>
  </div>
  <div *ngIf="!document.minimized" class="card-block">
    <span class="content" [innerHTML]="document.content"></span>
  </div>
</div>